<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>


    <div class="affiche__yn">
        <p class="card-yn__date">28 décembre 2016</p>
        <p class="card-yn__title">Your Name</p>
        <img src="../../server/images/your_name.jpg">
        <p class="card-yn__desc">2  adolescents échangent mystérieusement de corps.</p>
    </div>

    <div class="affiche__bbt">
        <p class="card-yn__date">8 Mars 1968</p>
        <p class="card-yn__title">Le bon, la brute et le truand</p>
        <img src="../../server/images/bon_brute_truand.jpg">
         <p class="card-yn__desc"></p>
    </div>

    <div class="affiche__ls">La liste de Schindler
        <img src="../../server/images/schindler.webp">
    </div>

    <div class="affiche__i">Interstellar
        <img src="../../server/images/interstellar.jpg">
    </div>

</body>

</html>